.cookie {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
